<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h3>  t1  </h3>
    <p> ab_render接口返回的数据: {{ data }} {{ date }} </p>  <!--对应方式一返回接收 {{ data}} 展示的参数是接口动态返回的 -->
    <p> ab_render接口返回的数据: {{ user_dist }} </p>  <!-- 对应方式二返回接收{{ data}} 展示的参数是接口动态返回的 -->
</body>
</html>