{% extends 'app04/home.html' %}

{% block content %}
    <h2 class="text-center"> 书籍编辑 </h2>
    <form action="" method="post">
        <p>
            <label for="id_title">书名:</label>
            <input type="text" id="id_title" name="title" class="form-control" value="{{ book_queryset.title }}">
        </p>

       <p>
           <label for="id_price">价格:</label>
           <input type="text" id="id_price" name="price" class="form-control" value="{{ book_queryset.price }}">
       </p>

        <p>
            <label for="id_book_publish_date">出版日期:</label>
            <input type="date" id="id_book_publish_date" name="publish_date" class="form-control" value="{{ book_queryset.publish_date|date:'Y-m-d' }}">
        </p>

        <p>
            <label for="id_publish">出版社:</label>
            <select name="publish" id="id_publish" class="form-control">
                {% for publish_obj in publish_queryset %}
                    {# 针对当前书籍对象的出版社默认选中 #}
                    {% if book_queryset.publish == publish_obj %}
                        <option value="{{ publish_obj.pk }}" selected>{{ publish_obj.name }}</option>
                    {% else %}
                        <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="id_authors">作者:</label>
            <select name="authors" id="id_authors" class="form-control" multiple>
                {% for author_obj in author_queryset %}
                  {% if author_obj in book_queryset.authors.all %}
                      <option value="{{ author_obj.pk }}" selected>{{ author_obj.name }}</option>
                  {% else %}
                      <option value="{{ author_obj.pk }}">{{ author_obj.name }}</option>
                  {% endif %}
                {% endfor %}
            </select>
        </p>

        <input type="submit" value="编辑" class="btn btn-info btn-block">

    </form>
{% endblock %}