{% extends 'app04/home.html' %}

{% block content %}
    <h2 class="text-center"> 书籍添加 </h2>
    <form action="" method="post">
        <p>
            <label for="id_book_name">书名:</label>
            <input type="text" id="id_book_name" name="title" class="form-control">
        </p>

        <p>
            <label for="id_book_price">价格</label>
            <input type="text" id="id_book_price" name="price" class="form-control">
        </p>

        <p>
            <label for="id_book_publish_date">出版日期:</label>
            <input type="date" id="id_book_publish_date" name="publish_date" class="form-control">
        </p>

        <p>
            <label for="id_publish">出版社</label>
            <select name="publish" id="id_publish" class="form-control">
                {% for publish_obj in publish_queryset %}
                    <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="id_authors">作者</label>
            <select name="authors" id="id_authors" multiple class="form-control">
                {% for author_obj in author_queryset %}
                    <option value="{{ author_obj.pk }}">{{ author_obj.name }}</option>
                {% endfor %}
            </select>
        </p>

        <input type="submit" class="btn btn-primary btn-block" value="新增">

    </form>
{% endblock %}