<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'bootstrap-3.4.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</head>
<body>
<p>{{ n }}</p>
<p>{{ f }}</p>
<p>{{ s }}</p>
<p>{{ b }}</p>
<p>{{ l }}</p>
<p>{{ t }}</p>
<p>{{ d }}</p>
<p>{{ se }}</p>

{% for foo in l %}
    <p> {{ forloop }}</p>
{% endfor %}


<h3> 自定义过滤器 </h3>
{% load mytag %}
<p> {{ n|baby:666 }} </p>

<p> {% plus 'jason' 1 2 3 %} </p>

<p> {% left 5 %} </p>
</body>
</html>