<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'bootstrap-3.4.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</head>
<body>

<input type="text" id="d1"> + <input type="text" id="d2"> = <input type="text" id="d3">
<p>
    <button id="btn">提交</button>
</p>


<script>
    $('#btn').click(function () {
        // 规定朝后端发送Ajax请求
        $.ajax({
            url: '',  // 指定朝那个后端发送Ajax请求, 不写就是朝当前地址提交请求
            type: 'post',  // 请求方式, 不指定默认是get请求
            data: {  // 提交的数据
                'i1': $('#d1').val(),
                'i2': $('#d2').val(),
            },
            success: function (args) {  // 回调函数,当后端返回结果的时候会自动触发,args用于接收后端的返回结果
                {#$('#d3').val(args)  // 通过DOM操作动态渲染数据#}

                console.log(typeof args)
                $('#d3').val(args.username)

            }
        })
    })
</script>

</body>
</html>