<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'bootstrap-3.4.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/sweetalert.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/mysetup.js' %}"></script>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <p>username: <input type="text" name="username" disabled value="{{ request.user.username }}"></p>
    <p>old_password: <input type="text" name="oldPassword"></p>
    <p>new_Password: <input type="text" name="newPassword"></p>
    <p>confirm_password: <input type="text" name="confirmPassword"></p>
    <input type="submit">
</form>

</body>
</html>