<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'bootstrap-3.4.1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/sweetalert.min.css' %}" rel="stylesheet">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/sweetalert.min.js' %}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">
                <!-- form表单校验 -->
{#                {% csrf_token %}#}
                <p>
                    <label for="id_username">username:</label>
                    <input type="text" id="id_username" name="userName" class="form-control" style="bac">
                </p>
                <p>
                    <label for="id_targerName">target:</label>
                    <input type="text" id="id_targetName" name="targetName" class="form-control">
                </p>
                <p>
                    <label for="id_money">money:</label>
                    <input type="text" id="id_money" name="money" class="form-control">
                </p>

                <input type="submit" value="转账" class="btn btn-info btn-block">
            </form>
            <p></p>

            <input type="button" value="ajax提交" id="id_ajax_commit" class="btn btn-success btn-block">
        </div>
    </div>

</div>

{#{% load static %}#}
<!-- 方法三: 该方法是通用的方法,可以将其加入到模板导入 -->
{#<script src="{% static 'js/mysetup.js' %}"></script>#}
<script>
    $('#id_ajax_commit').click(function () {
        $.ajax({
            url: '',
            type: 'post',
            data: {
                "userName": $('[name=userName]').val(),
                "targetName": $('[name=targetName]').val(),
                "money": $('[name=money]').val(),
                <!-- 方法一: 利用标签查找获取页面上的随机字符串 -->
                {#"csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val(),#}
                <!-- 方法二: 利用模版语法提供的快捷书写 -->
                {#"csrfmiddlewaretoken": "{{ csrf_token }}",#}
            },
            success:function () {

            }

        })
    })
</script>


</body>
</html>